@page "/incell"
@inject ToastService toastService
@*你现在编辑的是 ID: @editingitem.Id  Name: @editingitem.Name  Address: @editingitem.Address*@

@foreach (var item in Items)
{
    <IncellComponent Item="item" ModelChanged="@Hi" />
}

<Table TItem="Foo" Height="200" Items="@Items"
       IsPagination="true"  
       IsStriped="true" IsBordered="true"  
       >
    <TableColumns>
        <TableColumn @bind-Field="@context.DateTime" Width="180" />
        <TableColumn @bind-Field="@context.Name" />
        <TableColumn @bind-Field="@context.Address" />
        <TableColumn @bind-Field="@context.Education" />
        <TableColumn @bind-Field="@context.Count" />
        <TableColumn @bind-Field="@context.Complete" ComponentType="@typeof(Switch)" />
    </TableColumns>
</Table>

<Footer class="fixed-bottom" Text="@($"你上次编辑的是 ID: {editingitem.Id}  Name: {editingitem.Name}  Address: {editingitem.Address}")"></Footer>

@*<Footer>
        <div class="text-center flex-fill">
            你现在编辑的是 ID: @editingitem.Id  Name: @editingitem.Name  Address: @editingitem.Address
        </div>
    </Footer>*@ 